[Desktop Entry]
Name=Aegis Stream
Comment=Local Game & Desktop Streaming
Exec=/usr/local/bin/aegis-stream
Icon=aegis-logo
Terminal=false
Type=Application
Categories=Network;Game;Utility;X-Aegis-Suite;
Keywords=stream;game;remote;play;moonlight;sunshine;
StartupNotify=true
