[Desktop Entry]
Version=1.0
Type=Application
Name=Files
Comment=Browse your files
Icon=system-file-manager
Exec=thunar
Terminal=false
Categories=Utility;FileManager;
