[Desktop Entry]
Version=2.0
Type=Application
Name=Thunderbolt Runner
Comment=Launch your games - SD Cards, Dual GPU, Upscalers, and more!
Icon=applications-games
Exec=/usr/local/bin/thunderbolt-runner
Terminal=false
Categories=Game;
StartupWMClass=thunderbolt-runner
