modules = ["python-3.11", "postgresql-16"]
[agent]
expertMode = true
integrations = ["stripe:1.0.0", "python_database:1.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "aegis-website"

[[workflows.workflow]]
name = "aegis-website"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd aegis-promotional && python3 server.py"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 32919
externalPort = 3000

[[ports]]
localPort = 33599
externalPort = 4200

[[ports]]
localPort = 39353
externalPort = 3001

[[ports]]
localPort = 39743
externalPort = 5000

[[ports]]
localPort = 40151
externalPort = 5173

[[ports]]
localPort = 40265
externalPort = 3002

[[ports]]
localPort = 41821
externalPort = 3003

[[ports]]
localPort = 44681
externalPort = 6000
