[Desktop Entry]
Version=1.0
Type=Application
Name=Aegis OS USB Creator
GenericName=USB Image Writer
Comment=Create bootable Aegis OS USB drives for any edition
Exec=pkexec /bin/bash -c "%k/aegis-usb-creator.sh"
Icon=drive-removable-media-usb
Terminal=true
Categories=System;Utility;
Keywords=aegis;usb;boot;installer;creator;iso;flash;
StartupNotify=false
X-Desktop-File-Install-Version=0.26

Actions=CreateUSB;

[Desktop Action CreateUSB]
Name=Create Bootable USB
Exec=pkexec /bin/bash -c "%k/aegis-usb-creator.sh"
