[Desktop Entry]
Name=Aegis Welcome
Comment=Welcome to Aegis OS
Exec=/usr/local/bin/aegis-welcome
Icon=system-help
Type=Application
Categories=System;
StartupNotify=true
X-GNOME-Autostart-enabled=true
