[Desktop Entry]
Name=Aegis Load Balancer
Comment=Nginx and HAProxy configuration
GenericName=Load Balancer
Exec=/usr/local/bin/aegis-load-balancer --gui
Icon=network-server
Terminal=false
Type=Application
Categories=System;Network;
Keywords=nginx;haproxy;proxy;load;balance;
StartupNotify=true
