[Desktop Entry]
Name=Aegis Container Tools
Comment=Kubernetes and Docker management
GenericName=Container Management
Exec=/usr/local/bin/aegis-container-tools --gui
Icon=docker
Terminal=false
Type=Application
Categories=System;
Keywords=docker;kubernetes;podman;container;
StartupNotify=true
