[Desktop Entry]
Name=Install Aegis OS
Comment=Install Aegis OS to your computer
GenericName=System Installer
Exec=pkexec /usr/local/bin/aegis-installer
Icon=system-software-install
Terminal=false
Type=Application
Categories=System;
Keywords=install;installer;setup;
